<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>{{ article['title'] }} - MMS49</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<header>
			
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
							<ul>
								<li><a href="https://www.facebook.com/thisisamalek/posts/2477540042495737" target="_blank"><i class="fa fa-facebook"></i></a><li>
								<li><a href="https://twitter.com/Respect4all23/status/1250676422894587904" target="_blank"><i class="fa fa-twitter"></i></a><li>
								<!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
								<!--<li><a href="#"><i class="fa fa-behance"></i></a></li>-->
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding">
							<ul>
								<li><a href="tel:055-700-3648"><span class="lnr lnr-phone-handset"></span><span>055-700-3648</span></a></li>
								<li><a href="mailto:meitav@idf.gov.il"><span class="lnr lnr-envelope"></span><span>meitav@idf.gov.il</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="logo-wrap">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
							<a href="/">
								<img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="1100px">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="container main-menu" id="main-menu">
				<div class="row align-items-center justify-content-between">
					<nav id="nav-menu-container">
						<ul class="nav-menu">
							<li class="menu-active"><a href="/">Home</a></li>
							<li><a href="https://www.mitgaisim.idf.il/%D7%AA%D7%A4%D7%A7%D7%99%D7%93%D7%99%D7%9D/%D7%9E%D7%A1%D7%9C%D7%95%D7%9C-%D7%92%D7%90%D7%9E%D7%90-%D7%A1%D7%99%D7%99%D7%91%D7%A8/">Archive</a></li>
							<li><a href="https://he.wikipedia.org/wiki/%D7%AA%D7%9E%D7%99%D7%A8_%D7%94%D7%99%D7%99%D7%9E%D7%9F">Category</a></li>
							<li><a href="http://mamas.dev">About</a></li>
							<li><a href="https://www.mitgaisim.idf.il/">Contact</a></li>
							<li><a href="/disclaimer">Disclaimer</a></li>
						</ul>
					</nav><!-- #nav-menu-container -->
					<div class="navbar-right">
						<form class="Search">
							<input type="text" class="form-control Search-box" name="Search-box" id="Search-box" placeholder="Search">
							<label for="Search-box" class="Search-box-label">
								<span class="lnr lnr-magnifier"></span>
							</label>
							<span class="Search-close">
								<span class="lnr lnr-cross"></span>
							</span>
						</form>
					</div>
				</div>
			</div>
		</header>
		
		<div class="site-main-container">
			<!-- Start latest-post Area -->
			<section class="latest-post-area pb-120">
				<div class="container no-padding">
					<div class="row">
						<div class="col-2"></div>
							<div class="col-lg-8 post-list">
								<!-- Start single-post Area -->
								<div class="single-post-wrap">
									<div class="content-wrap">
										<a>
											<h3>{{ article['title'] }}</h3>
										</a>
										<ul class="meta pb-20">
											<li><a><span class="lnr lnr-user"></span>{{ article['author']['name'] }}</a></li>
											<li><a><span class="lnr lnr-calendar-full"></span>{{ article['date'] }}</a></li>
										</ul>
										<p>
											<b>
												{{ article['summary'] }}
											</b>
										</p>
										<p>
											{{ article['article'] }}
										</p>
										<div class="row">
										<div class="col-5"></div>
<!--										<a href="#" class="primary-btn">LIKE</a>-->
									</div>
								</div>

								<div class="comment-sec-area">
									<div class="container">
										<div class="row flex-column">
											{% if article['comments']|length == 0 %}
												<h6>No comments, be the first to comment!</h6>
											{% else %}
												<h6>{{ article['comments']|length }} Comments</h6>
											{% endif %}
											{% for comment in article['comments'] %}
											<div class="comment-list">
												<div class="single-comment justify-content-between d-flex">
													<div class="user justify-content-between d-flex">
														<div class="thumb">
															<p>
																{{ comment['id'] }}
															</p>
														</div>
														<div class="desc">
															<h5>{{ comment['name'] }}</h5>
															<p class="date">{{ comment['datetime'] }}</p>
															<p class="title">
																<b>
																	{{ comment['subject'] }}
																</b>
															</p>
															<p class="comment">
																{{ comment['content'] }}
															</p>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
<!--											<div class="comment-list left-padding">-->
<!--												<div class="single-comment justify-content-between d-flex">-->
<!--													<div class="user justify-content-between d-flex">-->
<!--														<div class="thumb">-->
<!--															<img src="img/blog/c2.jpg" alt="">-->
<!--														</div>-->
<!--														<div class="desc">-->
<!--															<h5><a href="#">Emilly Blunt</a></h5>-->
<!--															<p class="date">December 4, 2017 at 3:12 pm </p>-->
<!--															<p class="comment">-->
<!--																Never say goodbye till the end comes!-->
<!--															</p>-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
										</div>
									</div>
								</div>
							</div>

							<div class="comment-form">
								<h4>Post Comment</h4>
								<form action="/comment?id={{ article['id'] }}" method="POST">

									<div class="form-group form-inline">
										<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" required="">

										<div class="form-group col-lg-6 col-md-12 name">
										</div>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'" required="">
									</div>
									<div class="form-group">
										<textarea class="form-control mb-10" rows="5" name="content" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" ></textarea>
									</div>
									<div class="form-group">
										<input type="submit" value="Post Comment" class="primary-btn text-uppercase">
									</div>
								</form>
							</div>
						</div>
						<!-- End single-post Area -->
					</div>
				</div>
			</div>
		</section>
		<!-- End latest-post Area -->
	</div>
	
	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<!--<div class="row">-->
				<!--<div class="col-lg-3 col-md-6 single-footer-widget">-->
					<!--<h4>Top Products</h4>-->
					<!--<ul>-->
						<!--<li><a href="#">Managed Website</a></li>-->
						<!--<li><a href="#">Manage Reputation</a></li>-->
						<!--<li><a href="#">Power Tools</a></li>-->
						<!--<li><a href="#">Marketing Service</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-lg-2 col-md-6 single-footer-widget">-->
					<!--<h4>Quick Links</h4>-->
					<!--<ul>-->
						<!--<li><a href="#">Jobs</a></li>-->
						<!--<li><a href="#">Brand Assets</a></li>-->
						<!--<li><a href="#">Investor Relations</a></li>-->
						<!--<li><a href="#">Terms of Service</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-lg-2 col-md-6 single-footer-widget">-->
					<!--<h4>Features</h4>-->
					<!--<ul>-->
						<!--<li><a href="#">Jobs</a></li>-->
						<!--<li><a href="#">Brand Assets</a></li>-->
						<!--<li><a href="#">Investor Relations</a></li>-->
						<!--<li><a href="#">Terms of Service</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-lg-2 col-md-6 single-footer-widget">-->
					<!--<h4>Resources</h4>-->
					<!--<ul>-->
						<!--<li><a href="#">Guides</a></li>-->
						<!--<li><a href="#">Research</a></li>-->
						<!--<li><a href="#">Experts</a></li>-->
						<!--<li><a href="#">Agencies</a></li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				<div class="col-lg-4 col-md-12 footer-social">
					<a href="https://www.facebook.com/thisisamalek/posts/2477540042495737" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/Respect4all23/status/1250676422894587904" target="_blank"><i class="fa fa-twitter"></i></a>
					<!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
					<!--<a href="#"><i class="fa fa-behance"></i></a>-->
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		<script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/hoverIntent.js') }}"></script>
		<script src="{{ url_for('static', filename='js/superfish.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/mn-accordion.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>